@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Lato:ital@0;1&family=Montserrat:wght@100&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header{
  background: #FFF8F3;
  background-image: url(/images/header_bg.png) , url(/images/developer.png);
 background-position: bottom right , bottom left;
 background-repeat: no-repeat;
 padding-top: 5px;
 /* margin-left: 125px; */
 
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 10px 15px;
  border: 0 solid #fd6e0a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

/* header and navigation style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 40px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
  justify-content: space-between;
}

header .banner .title {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

header .banner .name {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 15px;
}

header .banner .part-1 p {
  font-weight: 400;
  font-size: 18px;
}

header .banner .part-1 .pera{
  margin-bottom: 30px;
}

/* Main section */

main{
 height: 50vh;
 background-color: #FFF8F3;
 margin: 50px 150px;
}

main .about .title{
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
  font-size: 35px;
 
}

main .about .paragraph{
  text-align: center;
  margin: 25px 200px;
}

main .about-info-container{
  display: flex;
  text-align: center;
  padding-left: 280px;
  margin-top: 20px;
}

main .about-info-container .info-item{
padding: 15px;
}

main .what-i-do{
  margin-top: 200px;
}

main .what-i-do .what{
  text-align: center;
  margin-bottom: 30px;
}

main .what-i-do .pera{
  text-align: center;
  
  margin: 50px 200px;
}

.what-i-do .box{
  display: flex;
  margin-left: 100px;
}

.what-i-do .box .box-item{
  background: #FFFFFF;;
  margin: 0 27px;
  height: 300px;
  width: 300px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.what-i-do .box .box-item h3 , p , img{
  margin: 10px 10px;
}

/* My Resume */

.resume .my-resume{
  display: flex;
  justify-content: space-between;
}

.resume .my-resume .edu{
  margin-right: 10px;
  margin-left: 70px;
 
}

.resume .my-resume .edu .sub-edu{
  margin: 50px 0;
}

.resume .my-resume .expere{
  margin-left: 10px;
  margin-right: 70px;
}

.resume .my-resume .expere .sub-expere{
  margin: 50px 0;
}

.resume .h-3{
  text-align: center;
  margin: 100px 0;
  font-weight: 900;
  font-size: 35px;
  color: #181818;
  
}

.resume .h-2{
  margin-bottom: 30px;
  color: #474747;
  font-weight: 700;
font-size: 30px;
}

.resume .h3-title{
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 700;
font-size: 25px;
}

.resume .my-resume .resu-pera{
    margin: 15px 100px 15px 0;
}

.resume .my-resume .h-6{
  color: #757575;
  font-weight: 600;
font-size: 15px;
}

.resume .this-btn{
  display: flex;
  justify-content: center;
}

.footer .last-div{
  display: flex;
 
}





.footer{
 
  background-color: #FFF8F3;
  width: max-content;
} 

.footer .last-div{
  /* background-color: #FFF8F3; */
  margin-top: 100px;
  /* width: 100%; */

}
.footer h3{
  text-align: start;
}

.footer .last-div .contact{
  margin-left: 10px;
  margin-right: 250px;
  margin-top: 40px;
}


.footer .last-div .message .input input{
 width: 350px;
 height: 50px;
 margin: 15px;
 /* background-color: #ebe5e1; */
}

.footer .last-div .message textarea{
  margin: 15px;
  /* background-color: #ebe5e1; */
}

.footer .last-div .last-btn{
margin-left: 15px;
}

